:root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

body {
  background-image: var(--gradient);
  background-size: 600%;
  height: 100vh;

  animation: bg-animation 15s infinite alternate;
}

.mycard {
  width: 18rem;
  margin: auto;
  height: 350px;
}
.myfooter {
  width: 100%;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
